@using Ilk_MVC_Proyekt.Entites
@model List<Category>

<h1>ADD Product</h1>

<form asp-controller="Product" asp-action="AddProduct">
	<label>Product Name</label>
	<input type="text" name="ProductName" placeholder="Product Name" />
	<br />
	<label>Product Stock</label>
	<input type="number" name="ProductStock" placeholder="Product Stock" />
	<br />
	<label>Product Price</label>
	<input type="number" name="ProductPrice" placeholder="Product Price" />
	<br />
	<select name="CategoryId">
		<option value="0" hidden disabled selected>Choose category</option>
		@foreach (var category in ViewBag.Categories)
		{
			<option value="@category.CategoryId">@category.CategoryName</option>
		}
	</select>
	<br />
	<button type="submit">Add</button>
</form>

<br />
<br />
<br />
<br />
<br />



<table class="table table-hover table-dark">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Stock</th>
			<th scope="col">Price</th>
			<th scope="col">CategoryName</th>
			<th scope="col">Update</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in ViewBag.Products)
		{
			<tr>
				<td scope="row">@item.ProductId</td>
				<td>@item.ProductName</td>
				<td>@item.ProductStock</td>
				<td>@item.ProductPrice</td>
				<td></td>

				<td><button onclick="location.href='@Url.Action("Update", "Product", new { id = item.ProductId })'" class="btn btn-warning">Update</button></td>
				<td><button onclick="location.href='@Url.Action("DeleteProduct", "Product", new { id = item.ProductId })'" class="btn btn-danger">Delete</button></td>
			</tr>
		}
	</tbody>
</table>